<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/shards.css}"/>
    <link rel="stylesheet" th:href="@{/shards-extras.css}"/>

</head>

<body>
<h1>Provide holiday place</h1>
<img th:src="@{/img/logo1.png}"/>


<!-- tag::formTag[] -->
<form method="POST" th:object="${design}" th:action="@{/place/new-place}" id="designForm">

    <div>

        <h3>Real or Dream</h3>
        <div>
<!--            <div class="custom-control custom-radio mb-3">-->
<!--                <input type="radio" id="planed" name="customRadio" class="custom-control-input" th:field="*{dreamed}" th:value="false" th:text="Planed">-->
<!--            </div>-->
<!--            <div class="custom-control custom-radio mb-3">-->
<!--                <input type="radio" id="dreamed" name="customRadio" class="custom-control-input" th:field="*{dreamed}" th:value="true" th:text="Dreamed">-->
<!--            </div>-->

<!--        <input type="checkbox" th:text="checkIfDreamed" th:field="*{dreamed}"/>-->
        <input type="radio" th:field="*{dreamed}" th:value="false" th:text="Planed"/>
        <input type="radio" th:field="*{dreamed}" th:value="true" th:text="Dreamed"/>
        </div>


        <h3>Country:</h3>
        <!--        <input type="text" th:field="*{country}"/>-->
        <select class="custom-select" th:field="*{country}">
            <option selected value="">Choose country</option>
            <option th:each="country : ${countyList}" th:value="${country.getId()}"
                    th:text="${country.getCountryName()}">
            </option>
        </select>
        <!-- end::all[] -->
<!--        <span th:text="${#fields.hasErrors('country')}">XXX</span>-->
        <span class="validationError"
              th:if="${#fields.hasErrors('country')}"
              th:errors="*{country}">Name Error</span>
        <!-- tag::all[] -->
        <br/>

        <h3>City:</h3>

        <div>

                <input type="text" class="form-control" placeholder="City" aria-label="City"
                       aria-describedby="basic-addon1" th:field="*{city}">
<!--                <span th:text="${#fields.hasErrors('city')}">XXX</span>-->
                <span class="validationError"
                      th:if="${#fields.hasErrors('city')}"
                      th:errors="*{city}">Name Error</span>

        </div>
        <br/>

        <h3>Street:</h3>


            <div>

                <input type="text" class="form-control" placeholder="Street" aria-label="Street"
                       aria-describedby="basic-addon2" th:field="*{street}">
<!--                <span th:text="${#fields.hasErrors('street')}">XXX</span>-->
                <span class="validationError"
                      th:if="${#fields.hasErrors('street')}"
                      th:errors="*{street}">Name Error</span>
            </div>

        <!-- tag::all[] -->
        <br/>

        <h3>ZIp-Code:</h3>
        <div>
            <input type="text" class="form-control" placeholder="Zip" aria-label="Zip" aria-describedby="basic-addon3"
                   th:field="*{zip}">
<!--            <span th:text="${#fields.hasErrors('zip')}">XXX</span>-->
            <span class="validationError"
                  th:if="${#fields.hasErrors('zip')}"
                  th:errors="*{zip}">Name Error</span>
        </div>
        <br/>
    </div>
    </div>
    <button type="submit" class="btn btn-primary btn-pill">Submit your place</button>

</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:href="@{js/shards.js}"></script>
<script type="text/javascript" th:href="@{js/shards.min.js}"></script>

</body>
</html>