<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>
</head>

<body>
<H1>All Holidays</H1>

<!--/*@thymesVar id="holiday" type="Holiday"*/-->
<form method="GET" th:action="@{/holidays/my-holidays}" th:object="${user}">
    <div class="holidays">
        <div>
            <select id="example" onChange="CityChange()">
                <option th:each="i : ${user.usersHolidays}" th:value="${i.name}" th:text="${i.name} + '' + ${i.place.country}">

                </option>
            </select>

            <div th:each="i : ${user.usersHolidays}" th:id="${i.name}" style="display: none">
                <label>Place: </label>
                <ul>
                    <li th:text="${i.place.country.getCountryName()}"></li>
                    <li th:text="${i.place.city}"></li>
                    <li th:text="${i.place.street}"></li>
                </ul>

                <label>Transport: </label>
                <ul>
                    <li th:text="${i.transport.type}"></li>
                </ul>

                <div th:if="${i.place.dreamed}">
                <label>Start Capital: </label>
                <ul>
                    <li th:text="${i.startCapital}"></li>
                </ul>
                </div>



            </div>


            <div id="currentholiday"></div>
            <script>
                function CityChange()
                {
                    document.getElementById('currentholiday').innerHTML = document.getElementById(document.getElementById('example').value).innerHTML
                }
            </script>


            <h3>Weather</h3>

            <div>
                <h3>baggage</h3>

            </div>
            <div>
                <h3>actual photo</h3>
            </div>




        </div>


    </div>
</form>

</body>
</html>