<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168906270-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168906270-1');
    </script>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dream holidays</title>
    <meta name="description" content="Dream holidays - Let's dream together!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/animate/animate.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/animsition/css/animsition.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{css/util.css}" rel="stylesheet"/>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/shards.css}" rel="stylesheet"/>
    <link th:href="@{/shards-extras.css}" rel="stylesheet"/>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body class="shards-landing-page--1">
<form method="GET" th:action="@{/holidays/my-holidays}" th:object="${user}">
    <div class="holidays">
        <div>
            <select class="custom-select" id="example" onChange="CityChange()">
                <option disabled selected th:value="currentholiday">Choose your holiday</option>
                <option th:each="i : ${user.usersHolidays}" th:value="${i.name}"
                        th:text="${i.name} + '' + ${i.place.country}">

                </option>
            </select>
            <div th:each="i, stat : ${user.usersHolidays}" th:id="${i.name}" th:name="holidayBlock"
                 style="display: none">

                <!-- Welcome Section -->
                <div class="welcome d-flex justify-content-center flex-column">
                    <div class="container">

                        <!-- Navigation -->
                        <nav class="navbar navbar-expand-lg navbar-dark pt-4 px-0">
                            <a class="navbar-brand" th:href="@{/}">
                                <img th:src="@{/img/agency-landing/shards-logo-white.svg}" th:class="mr-2"
                                     alt="Dream holidays">
                                Dream holidays
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavDropdown"
                                    aria-controls="navbarNavDropdown" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" th:id="navbarNavDropdown + ${i.name}">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="'#our-services'+ ${i.name}">Holiday information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="'#interesting-places' + ${i.name}">Interesting places</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="'#testimonials' + ${i.name}">Weather</a>
                                    </li>
                                </ul>

                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://devodds.pl/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://github.com/mkozachuk"><i
                                                class="fa fa-github"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/logout}">Log Out</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                        <!-- / Navigation -->
                    </div> <!-- .container -->

                    <!-- Inner Wrapper -->
                    <div class="inner-wrapper mt-auto mb-auto container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="welcome-heading display-4 text-white"
                                    th:text="'Selected Holiday: ' + ${i.name}"></h1>
                                <p class="text-white">Dream. Plan. Realization</p>
                                <a th:href="@{/place/new-place}"
                                   class="btn btn-lg btn-outline-white btn-pill align-self-center">Create new
                                    Holiday</a>
                            </div>
                        </div>
                    </div>
                    <!-- / Inner Wrapper -->
                </div>
                <!-- / Welcome Section -->

                <!-- Our Services Section -->
                <div th:id="our-services + ${i.name}" class="our-services section py-4">
                    <h3 class="section-title text-center my-5">Holiday information</h3>
                    <!-- Features -->
                    <div class="features py-4 mb-4">
                        <div class="container">
                            <div class="row">
                                <div class="feature py-4 col-md-6 d-flex">
                                    <div class="icon text-primary mr-3"><i class="fa fa-globe"></i></div>
                                    <div class="px-4">
                                        <h5>Country</h5>
                                        <p th:text="${i.place.country.getCountryName()}"></p>
                                    </div>
                                </div>
                                <div class="feature py-4 col-md-6 d-flex">
                                    <div class="icon text-primary mr-3"><i class="fa fa-home"></i></div>
                                    <div class="px-4">
                                        <h5>City</h5>
                                        <p th:text="${i.place.city.cityName}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="feature py-4 col-md-6 d-flex">
                                    <div th:if="${i.transport.getType().name()} == 'SHIP'"
                                         class="icon text-primary mr-3">
                                        <i class="fa fa-ship "></i>
                                    </div>
                                    <div th:if="${i.transport.getType().name()} == 'RAILWAY'"
                                         class="icon text-primary mr-3">
                                        <i class="fa fa-subway"></i>
                                    </div>
                                    <div th:if="${i.transport.getType().name()} == 'CAR'"
                                         class="icon text-primary mr-3">
                                        <i class="fa fa-car"></i>
                                    </div>
                                    <div th:if="${i.transport.getType().name()} == 'AIR'"
                                         class="icon text-primary mr-3">
                                        <i class="fa fa-plane"></i>
                                    </div>

                                    <div class="px-4">
                                        <h5>Transport</h5>
                                        <p th:text="${i.transport.type}"></p>
                                    </div>
                                </div>
                                <div th:if="${!i.place.dreamed}" class="feature py-4 col-md-6 d-flex">
                                    <div class="icon text-primary mr-3"><i class="fa fa-calendar"></i></div>
                                    <div class="px-4">
                                        <h5>Time Status</h5>
                                        <p th:text="'Holiday Strarts: ' + ${i.startDate}"></p>
                                        <p th:text="'Days Left: ' + ((${i.startDate.getTime()} - ${user.currentDate.getTime()}) / (24 * 60 * 60 * 1000))"></p>
                                        <div th:if="${i.getTimePercent() < 70}">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                     role="progressbar"
                                                     th:style="'width: ' + ${i.getTimePercent()} + '%'"
                                                     th:aria-valuenow="${i.getTimePercent()}" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div th:if="${i.getTimePercent() >= 70}">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success"
                                                     role="progressbar"
                                                     th:style="'width: ' + ${i.getTimePercent()} +'%'"
                                                     th:aria-valuenow="${i.getTimePercent()}" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div th:if="${i.place.dreamed}" class="feature py-4 col-md-6 d-flex">
                                    <div class="icon text-primary mr-3"><i class="fa fa-money"></i></div>
                                    <div class="px-4">
                                        <h5>Financial Status</h5>
                                        <p th:text="'Holiday price: $' + ${i.price}"></p>
                                        <p th:text="'Current capital: $' + ${i.currentCapital}"></p>
                                        <p th:text="'Your monthly saves is: $' + ${i.monthlySave} +
                                        ' You\'ll have enough capital at: ' + ${i.enoughCapital}"></p>
                                        <div th:if="${i.capitalPercent < 70}">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                     role="progressbar"
                                                     th:style="'width: ' + ${i.capitalPercent} + '%'"
                                                     th:aria-valuenow="${i.capitalPercent}" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div th:if="${i.capitalPercent >= 70}">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success"
                                                     role="progressbar"
                                                     th:style="'width: ' + ${i.capitalPercent} +'%'"
                                                     th:aria-valuenow="${i.capitalPercent}" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--                            -->
                            <div th:id="'carousel-' + ${stat.index + 1}" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li th:data-target="'#carousel-' + ${stat.index + 1}" data-slide-to="0"
                                        class="active"></li>
                                    <li th:data-target="'#carousel-' + ${stat.index + 1}" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" th:src="${i.imgs.get(0)}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="text-white" th:text="${i.place.city.cityName}"></h5>
                                            <p>Caption Subtitle</p>
                                        </div>
                                    </div>
                                    <div th:each="img : ${i.imgs}" class="carousel-item">
                                        <img class="d-block w-100" th:src="${img}" alt="Second slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="text-white" th:text="${i.place.city.cityName}"></h5>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" th:href="'#carousel-' + ${stat.index + 1}"
                                   role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" th:href="'#carousel-' + ${stat.index + 1}"
                                   role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!--                            -->
                        </div>
                    </div>
                    <!-- / Features -->
                </div>
                <!-- / Our Services Section -->

                <!-- Our Blog Section -->
                <div class="blog section section-invert py-4" th:id="'interesting-places' + ${i.name}">
                    <h3 class="section-title text-center m-5">Interesting places</h3>
                    <!--                    -->

                    <div class="container">
                        <div class="py-4">
                            <div class="row">
                                <div class="card-deck">
                                    <div th:each="string, numb : ${i.interestingPlacesUrls}" class="col-md-12 col-lg-4">
                                        <div class="card mb-4">
                                            <img class="card-img-top" th:src="@{/img/common/card-1.jpg}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Find Great Places to Work While Travelling</h4>
                                                <p class="card-text" th:text="${string}"></p>
                                                <a class="btn btn-primary btn-pill" th:href="${string}">Read More &rarr;</a>
                                            </div>
                                        </div>
                                    </div>

<!--                                    <div class="col-md-12 col-lg-4">-->
<!--                                        <div class="card mb-4">-->
<!--                                            <img class="card-img-top" th:src="@{/img/common/card-3.jpg}"-->
<!--                                                 alt="Card image cap">-->
<!--                                            <div class="card-body">-->
<!--                                                <h4 class="card-title">Quick Tips for Improving Your Website's-->
<!--                                                    Design</h4>-->
<!--                                                <p class="card-text">He seems sinking under the evidence could not only-->
<!--                                                    grieve-->
<!--                                                    and a-->
<!--                                                    visit. The father is to bless and placed in his length hid...</p>-->
<!--                                                <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-12 col-lg-4">-->
<!--                                        <div class="card mb-4">-->
<!--                                            <img class="card-img-top" th:src="@{/img/common/card-2.jpg}"-->
<!--                                                 alt="Card image cap">-->
<!--                                            <div class="card-body">-->
<!--                                                <h4 class="card-title">A Designer's Tips While Travelling and-->
<!--                                                    Working</h4>-->
<!--                                                <p class="card-text">He seems sinking under the evidence could not only-->
<!--                                                    grieve-->
<!--                                                    and a-->
<!--                                                    visit. The father is to bless and placed in his length hid...</p>-->
<!--                                                <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Our Blog Section -->

                <!-- Testimonials Section -->
                <div th:id="testimonials + ${i.name}" class="testimonials section py-4">
                    <h3 class="section-title text-center m-5">Weather</h3>
                    <div class="container py-5">
                        <div class="row">
                            <!--                            -->
                            <div class="col-md-4 testimonial text-center">
                                <select class="custom-select" th:id="weather + ${i.name}"
                                        th:onChange="weatherChange([[${i.name}]])">
                                    <option th:value="currentweather + ${i.name}" th:text="'Current weather'"></option>
                                    <option th:value="forecastweather + ${i.name}" th:text="'5 days forecast'"></option>
                                </select>

                                <div th:id="currentweather + ${i.name}" th:name="weatherBlock"
                                     style="display: inherit;">
                                    <p th:text="'Current temp: ' + ${i.weather.currentWeather}"></p>
                                </div>

                                <div th:id="forecastweather + ${i.name}" th:name="weatherBlock" style="display: none"
                                     class="table100-nextcols">
                                    <table class="minimalistBlack">
                                        <tbody>
                                        <tr th:each="timeForecast : ${i.weather.forecast}" class="row100 body">
                                            <td th:text="${timeForecast.getDate()}" class="cell100 column1">date</td>
                                            <td th:text="${timeForecast.getCloudData().cloud}" class="cell100 column2">
                                                clouds
                                            </td>
                                            <td th:text="${timeForecast.getTemp()}" class="cell100 column3">temp</td>
                                            <td th:text="${timeForecast.getMinTemp()}" class="cell100 column4">minTemp
                                            </td>
                                            <td th:text="${timeForecast.getMaxTemp()}" class="cell100 column5">maxTemp
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Table-->
                                    <!--                                    <p th:each="timeForecast : ${i.weather.forecast}" th:text="${timeForecast}"></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Testimonials Section -->

                <!-- Footer Section -->
                <footer>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container">
                            <a class="navbar-brand" th:href="@{/}">Dream holidays</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" th:id="navbarNav + ${i.name}">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="'#our-services'+ ${i.name}">Holiday information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="'#interesting-places' + ${i.name}">Interesting places</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="'#testimonials' + ${i.name}">Weather</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </nav>
                </footer>
                <!-- / Footer Section -->

                <!-- JavaScript Dependencies -->
                <script>
                    function CityChange() {
                        var last = document.getElementsByName('holidayBlock');
                        Array.prototype.forEach.call(last, function (el) {
                            el.style.display = "none";
                        });
                        document.getElementById(document.getElementById('example').value).style.display = "inherit";
                    }
                </script>

                <script th:inline="javascript">
                    function weatherChange(i) {
                        var last = document.getElementsByName('weatherBlock');
                        Array.prototype.forEach.call(last, function (el) {
                            el.style.display = "none";
                        });
                        var message = i;
                        document.getElementById(document.getElementById('weather' + message).value).style.display = "inherit";
                    }
                </script>

                <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                        crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                        crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous"></script>
            </div>
        </div>
    </div>


</form>
</body>
</html>