<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168906270-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-168906270-1');
    </script>


    <title>Additional info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/animate/animate.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/animsition/css/animsition.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/vendor/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
    <!--===============================================================================================-->
    <link th:href="@{/css/util.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    <!--===============================================================================================-->

</head>

<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/back.jpg');">
        <div class="wrap-login100">
            <form method="POST" th:action="@{/holidays/planed}" th:object="${holiday}"
                  id="holidayForm" class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

                <span class="login100-form-title p-b-34 p-t-27">
						Additional information
					</span>

                <div class="wrap-input100 validate-input" data-validate="Provide name" id="name">
                    <input th:field="*{name}" class="input100" type="text" name="name" placeholder="name">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>


                <select class="custom-select" type="text" th:field="${holiday.transport}">
                    <option value="1">By plane</option>
                    <option value="3">By car</option>
                    <option value="2">Railway</option>
                    <option value="4">Ship</option>
                </select>
                <span class="focus-input100" data-placeholder="&#xf191;"></span>

                <input type="text" class="form-control" id="datepick" th:field="*{startDate}">


                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn" value="Create Holiday">Create Holiday</button>
                </div>


            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Include Bootstrap Datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<!-- JavaScript -->

<script type="application/json" src="/js/shards.js"></script>
<script type="text/javascript" th:src="@{/js/shards.js}"></script>
<script th:inline="javascript">
    $('#datepick').datepicker({
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>

